.favorites-page .container {
  background-color: rgb(32, 28, 28);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 100px);
  padding: 20px;
  gap: 15px;
}

.favorites-page .carrousel {
  height: 100%;
}

.favorites-page .no-results {
  font-size: 24px;
  font-weight: 700;
}
