a,
button {
  cursor: pointer;
}

.App {
  position: relative;
  overflow: hidden;
}

.pot {
  bottom: 15%;
  position: absolute;
  animation: linear infinite;
  animation-name: run;
  animation-duration: 5s;
}
@keyframes run {
  0% {
    left: calc(100vw + 100px);
  }
  50% {
    left: 50vw;
  }
  100% {
    left: -100px;
  }
}
