a,
button {
  cursor: pointer;
  color: inherit;
  font-family: inherit;
}

a {
  text-decoration: none;
}

.App {
  position: relative;
  overflow: hidden;
  background-color: #302626;
  height: 100vh;
  z-index: 1;
  color: white;
  font-family: "Kanit", sans-serif;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}
