.character-card {
  display: flex;
  flex-direction: column;
  width: calc((100% - 60px) / 4);
  position: relative;
  align-items: center;
  gap: 10px;
}

.character-card .image-container {
  position: relative;
  width: 200px;
  height: 300px;
}

.character-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.character-card h1 {
  font-size: 18px;
  font-weight: 700;
}

.character-card .favorite-toggle {
  position: absolute;
  top: 15px;
  right: 5px;
  z-index: 2;
  opacity: 0.5;
}

.character-card .favorite-toggle:hover {
  opacity: 1;
}

.character-card .description {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  top: 0;
  text-align: center;
  padding: 10px;
  overflow: scroll;
}
