.comic-page .container {
  background-color: rgb(32, 28, 28);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 100px);
  padding: 20px;
  gap: 15px;
  font-size: 16px;
}
.comic-page h1 {
  font-size: 22px;
  font-weight: 700;
  margin: 20px 0;
}
.comic-page .no-results {
  font-size: 18px;
  font-weight: 700;
}

.comic-page .container > p {
  margin: 0 30px;
}

.comic-page .content {
  margin: 0 30px;
  display: flex;
  gap: 20px;
}

.comic-page h2 {
  font-size: 18px;
  font-weight: 700;
  margin: 20px 0;
}
