.characters-page .container {
  background-color: rgb(32, 28, 28);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 100px);
  padding: 30px;
  gap: 15px;
}

.characters-page .carrousel {
  height: 100%;
}
